// Styles for principal investigator
.principal-investigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;

  .investigator__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .investigator__details {
    max-width: calc(100% - 160px); // Adjust based on the actual width of the image and margin

    h2 {
      margin-bottom: 0.5em;
      font-size: 1.5em;
    }

    p {
      margin-bottom: 0.5em;
    }
  }
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2em;

  .member__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .member__content {
    // Set a max-width to align the content with the name of the position
    // Adjust this value as needed to fit your design
    max-width: 80%;
    
    h3 {
      margin-bottom: 0.5em;
      font-size: 1.2em;
      color: $text-color; // Example variable usage
    }

    .member__position {
      font-style: italic;
      color: $secondary-text-color; // Example variable usage
      margin-bottom: 0.5em;
    }

    .member__abstract {
      text-align: justify;
      margin-top: 0;
      // Remove padding-top if you want the text to align at the top
      padding: 0 1em; // Add horizontal padding if needed
    }
  }

  // Add responsive design adjustments
  @media (max-width: 768px) {
    .member__avatar {
      width: 120px;
      height: 120px;
    }

    .member__content {
      // Adjust the max-width for responsive design
      max-width: 90%;
    }
  }
}
